<link rel="stylesheet" href="/css/home.css">
{{! Use the main layout }}
{{!< main }}

<div class="profile-container">
    <div class="profile-avatar">
        <img src="{{user.avatar_url}}" alt="User avatar">
    </div>
    
    <section class="profile-info">
        <h1>{{username}}</h1>
        <p>Member since: {{user.memberSince}}</p>
    </section>
</div>

<section class="user-posts">
    <!-- you can call posts tweets, or truths, or whatever, these are neologisms. Choose your own new in server.js -->
    <h2>Your {{{postNeoType}}}s</h2>
    
    {{#if posts.length}}
        <ul>
            {{#each posts}}
                {{> post this}}
            {{/each}}
        </ul>
    {{else}}
        <!-- fix this up with some helper functions and other handlebars expressions, or add you own character -->
        <p>You have not {{postNeoType}}ed yet, {{postNeoType}}er.</p>
    {{/if}}
</section>
